<section id="about-me" class="section">
  <div class="container">
    <h2 class="title">about <span class="highlight">me</span></h2>
    <div class="about-me-info-cont">
    <picture class="photo">
<source 
srcset="./img/webp/lloyds-photo-desc.webp 1x, ./img/webp/lloyds-photo-desc-2x.webp 2x"
media="(min-width: 1280px)">
<source 
srcset="./img/webp/lloyds-photo-tab.webp 1x, ./img/webp/lloyds-photo-tab-2x.webp 2x"
media="(min-width: 768px)">
<source 
srcset="./img/webp/lloyds-photo-mob.webp 1x, ./img/webp/lloyds-photo-mob-2x.webp 2x"
media="(min-width: 320px)">
<img src="./img/webp/lloyds-photo-desc.webp" alt="Lloyd's photo" loading="lazy">
    </picture>
    
    <div class="about-me-box">
    <h3 class="sub-title">BIO</h3>
    <p class="bio-text">I'm Lloyd Jefferson, a talented programmer specializing 
      in software development. My expertise spans various programming 
      languages and technologies, and I am dedicated to continually 
      enhancing my skills. I thrive on seeking unconventional and creative 
      solutions to problems, leveraging a high level of analytical skills 
      to effectively tackle even the most challenging tasks.</p>
      <p class="bio-text">Adaptable to both independent and team-oriented work, 
        I collaborate seamlessly with colleagues, exchanging ideas and 
        finding optimal solutions. My professional maturity enables me to
         navigate challenges and stressful situations with a calm demeanor, 
         maintaining a consistently high quality of work. Committed to self-improvement,
          I actively engage in studying new technologies and practices to stay current with 
          the latest innovations in the field.</p>
        </div>
          <div class="about-me-box">
        <h3 class="sub-title">EDUCATION</h3>
          <ul class="about-me-list">
            
            <li class="about-me-list-item"> <svg class="list-marker" width="12" height="12"> <use href="./img/icons.svg#icon-dot"></use> </svg> 2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</li>
            <li class="about-me-list-item"> <svg class="list-marker" width="12" height="12"> <use href="./img/icons.svg#icon-dot"></use> </svg> 2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
            <li class="about-me-list-item"> <svg class="list-marker" width="12" height="12"> <use href="./img/icons.svg#icon-dot"></use> </svg> 2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
          </ul>
        </div>
        <div class="about-me-box">
          <h3 class="sub-title">ROLE</h3>
          <ul class="about-me-list">
            <li class="about-me-list-item"> <svg class="list-marker list-marker-small" width="12" height="12"> <use href="./img/icons.svg#icon-dot"></use> </svg> Frontend development</li>
            <li class="about-me-list-item"> <svg class="list-marker list-marker-small" width="12" height="12"> <use href="./img/icons.svg#icon-dot"></use> </svg> HeadlessCMS, Wordpress</li>
            <li class="about-me-list-item"> <svg class="list-marker list-marker-small" width="12" height="12"> <use href="./img/icons.svg#icon-dot"></use> </svg> Blender (enjoy)</li>
          </ul>
        </div>
      </div>
  </div>
</section>
