<section id="hero" class="section">
    <div class="container hero-container">
        <div class="hero-title-wrap">
            <h1 class="hero-title title">
                Hello, I am <span class="highlight">Fullstack developer</span>
            </h1>
            <a class="hero-btn-wrap" href="#work-together">
                <svg class="hero-btn-arrow">
                    <use class="hero-btn-icon" href="./img/icons.svg#icon-arrow-hero" width=30 height=16></use>
                </svg>
                <span class="hero-btn-text">Order the project</span>
                <div class="hero-btn-placeholder"></div>
            </a>
        </div>
        <div class="hero-image-text-wrap">
            <div class="hero-image-wrap">
                <picture class="hero-image">
                    <source srcset="/img/lloyds-photo-desc_1x.jpg, /img/lloyds-photo-desc-x2.webp" media="(min-width: 1280px)" />
                    <img src="/img/lloyds-photo-desc_2x.jpg" alt="LLoyds photo" width="592" height="444" />
                </picture>
                </div>
                <p class="hero-text">
                    I work with people all over the world to create <span class="highlight">impressive</span> and <span
                        class="highlight">functional
                        websites</span> that reflect each client’s unique personality.
                </p>
        </div>
    </div>
    <div class="hero-social-wrap">
        <ul class="hero-social-list">
            <li class="hero-social-item">
                <a class="hero-social-link" href="https://www.instagram.com/goitclub/" rel="noopener noreferrer"
                    target="_blank">
                    Instagram
                </a>
            </li>
            <li class="hero-social-item">
                <a class="hero-social-link" href="https://www.facebook.com/goITclub/" rel="noopener noreferrer"
                    target="_blank">
                    Facebook
                </a>
            </li>
            <li class="hero-social-item">
                <a class="hero-social-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it"
                    rel="noopener noreferrer" target="_blank">
                    Linkedin
                </a>
            </li>
            <li class="hero-social-item">
                <a class="hero-social-link" href="https://yuliia-shl.github.io/js-project-team-10/"
                    rel="noopener noreferrer" target="_blank">
                    GitHub
                </a>
            </li>
        </ul>
    </div>
</section>