<section id="project" class="section">
    <div class="container">
      <h2 class="title project-title">My <span class="highlight">projects</span></h2>
      <ul class="project-list">
        <li class="project-item">
          <img
            src="../img/img-projects-mob1x.jpg"
            alt="Wallet Webservice screenshot"
            class="project-img"
          />
          <p class="project-tech">React, JavaScript, Node JS, Git</p>
          <h3 class="project-subtitle">Wallet Webservice</h3>
          <a href="#" class="project-btn">Visit 
            <span class="arrow">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-up">
                    </use>
                </svg>
            </span>
        </a>
        </li>
        <li class="project-item">
          <img
            src="../img/img-projects-mob1x.jpg"
            alt="Green Harvest Webservice screenshot"
            class="project-img"
          />
          <p class="project-tech">React, JavaScript, Node JS, Git</p>
          <h3 class="project-subtitle" >Green Harvest Webservice</h3>
          <a href="#" class="project-btn">Visit 
            <span class="arrow">
            <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-up">
                </use>
            </svg>
        </span>
    </a>
        </li>

        <li class="project-item">
          <img
            src="../img/img-projects-mob1x.jpg"
            alt="English Excellence Website screenshot"
            class="project-img"
          />
          <p class="project-tech">React, JavaScript, Node JS, Git</p>
          <h3 class="project-subtitle">English Excellence Website</h3>
          <a href="#" class="project-btn">Visit 
            <span class="arrow">
            <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-up">
                </use>
            </svg>
        </span></a>
        </li>
      </ul>

      <a href="#" class="load-more">Load More</a>
    </div>
    </section>

