<section id="project" class="section">
  <div class="container">
    <h2 class="title project-title">
      My <span class="highlight">projects</span>
    </h2>
    <ul class="project-list">
      <li class="project-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/webp/my-project-1-desk_1x.webp 1x,
              ./img/webp/my-project-1-desk_2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/webp/my-project-1-tab_1x.webp 1x,
              ./img/webp/my-project-1-tab_2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/webp/my-project-1-mob_1x.webp 1x,
              ./img/webp/my-project-1-mob_2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/webp/my-project-3-mob_1x.webp"
            srcset="
              /img/webp/my-project-3-mob_1x.webp 1x,
              /img/webp/my-project-3-mob_2x.webp 2x
            "
            alt="English Excellence Website screenshot"
            class="project-img"
          />
        </picture>
        <p class="project-tech">React, JavaScript, Node JS, Git</p>
        <div class="tab-link-container">
          <h3 class="project-subtitle">WALLET WEBSERVICE</h3>
          <a href="#" class="project-btn"
            >Visit
            <span class="arrow">
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </a>
        </div>
      </li>
      <li class="project-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/webp/my-project-1-desk_1x.webp 1x,
              ./img/webp/my-project-2-desk_2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/webp/my-project-2-tab_1x.webp 1x,
              /img/webp/my-project-2-tab_2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              /img/webp/my-project-2-mob_1x.webp 1x,
              /img/webp/my-project-2-mob_2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/webp/my-project-3-mob_1x.webp"
            srcset="
              /img/webp/my-project-3-mob_1x.webp 1x,
              /img/webp/my-project-3-mob_2x.webp 2x
            "
            alt="English Excellence Website screenshot"
            class="project-img"
          />
        </picture>
        <p class="project-tech">React, JavaScript, Node JS, Git</p>
        <div class="tab-link-container">
          <h3 class="project-subtitle">GREEN HARWEST WEBSERVICE</h3>
          <a href="#" class="project-btn"
            >Visit
            <span class="arrow">
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </a>
        </div>
      </li>

      <li class="project-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/webp/my-project-3-desk_1x.webp 1x,
              ./img/webp/my-project-3-desk_2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/webp/my-project-3-tab_1x.webp 1x,
              ./img/webp/my-project-3-tab_2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/webp/my-project-3-mob_1x.webp 1x,
              ./img/webp/my-project-3-mob_2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/webp/my-project-3-mob_1x.webp"
            srcset="
              /img/webp/my-project-3-mob_1x.webp 1x,
              /img/webp/my-project-3-mob_2x.webp 2x
            "
            alt="English Excellence Website screenshot"
            class="project-img"
          />
        </picture>
        <p class="project-tech">React, JavaScript, Node JS, Git</p>
        <div class="tab-link-container">
          <h3 class="project-subtitle">ENGLISH EXCELLENCE WEBSITE</h3>
          <a href="#" class="project-btn highlight"
            >Visit
            <span class="arrow highlight">
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg> </span
          ></a>
        </div>
      </li>
      <!--<li class="project-item">
            <img
              src="./img/webp/my-project-4-mob_1x.webp"
              srcset="/img/webp/my-project-4-mob_1x.webp 1x,
              /img/webp/my-project-4-mob_2x.webp 2x"
              alt="Energy Flow Webservice "
              class="project-img"
            />
            <p class="project-tech">React, JavaScript, Node JS, Git</p>
            <div class="tab-link-container">
              <h3 class="project-subtitle">ENERGY FLOW WEBSERVICE</h3>
              <a href="#" class="project-btn">Visit 
                <span class="arrow">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-up">
                    </use>
                </svg>
            </span></a>
            </div>
          </li>
          <li class="project-item">
            <img
              src="./img/webp/my-project-5-mob_1x.webp"
              srcset="/img/webp/my-project-5-mob_1x.webp 1x,
              /img/webp/my-project-5-mob_2x.webp 2x"
              alt="Starlight Studio Landing Page"
              class="project-img"
            />
            <p class="project-tech">React, JavaScript, Node JS, Git</p>
            <div class="tab-link-container">
              <h3 class="project-subtitle">STARLIGHT STUDIO LANDING PAGE</h3>
              <a href="#" class="project-btn">Visit 
                <span class="arrow">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-up">
                    </use>
                </svg>
            </span></a>
            </div>
          </li>
          <li class="project-item">
            <img
              src="./img/webp/my-project-6-mob_1x.webp"
              srcset="/img/webp/my-project-6-mob_1x.webp 1x,
              /img/webp/my-project-6-mob_2x.webp 2x"
              alt="Fruitbox Online Store"
              class="project-img"
            />
            <p class="project-tech">React, JavaScript, Node JS, Git</p>
            <div class="tab-link-container">
              <h3 class="project-subtitle">FRUITBOX ONLINE STORE</h3>
              <a href="#" class="project-btn">Visit 
                <span class="arrow">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-up">
                    </use>
                </svg>
            </span></a>
            </div>
          </li>
          <li class="project-item">
            <img
              src="./img/webp/my-project-7-mob_1x.webp"
              srcset="/img/webp/my-project-7-mob_1x.webp 1x,
              /img/webp/my-project-7-mob_2x.webp 2x"
              alt="Chego Jewelry Website"
              class="project-img"
            />
            <p class="project-tech">React, JavaScript, Node JS, Git</p>
            <div class="tab-link-container">
              <h3 class="project-subtitle">CHEGO JEWELRY WEBSITE</h3>
              <a href="#" class="project-btn">Visit 
                <span class="arrow">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-up">
                    </use>
                </svg>
            </span></a>
            </div>
          </li>
          <li class="project-item">
            <img
              src="./img/webp/my-project-8-mob_1x.webp"
              srcset="/img/webp/my-project-8-mob_1x.webp 1x,
              /img/webp/my-project-8-mob_2x.webp 2x"
              alt="Mimino Website"
              class="project-img"
            />
            <p class="project-tech">React, JavaScript, Node JS, Git</p>
            <div class="tab-link-container">
              <h3 class="project-subtitle">MIMINO WEBSITE</h3>
              <a href="#" class="project-btn">Visit 
                <span class="arrow">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-up">
                    </use>
                </svg>
            </span></a>
            </div>
          </li>
          <li class="project-item">
            <img
              src="./img/webp/my-project-9-mob_1x.webp"
              srcset="/img/webp/my-project-9-mob_1x.webp 1x,
              /img/webp/my-project-9-mob_2x.webp 2x"
              alt="Vyshyvanka Vibes Landing Page"
              class="project-img"
            />
            <p class="project-tech">React, JavaScript, Node JS, Git</p>
            <div class="tab-link-container">
              <h3 class="project-subtitle">VYSHYVANKA VIBES LANDING PAGE</h3>
              <a href="#" class="project-btn">Visit 
                <span class="arrow">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-up">
                    </use>
                </svg>
            </span></a>
            </div>
          </li>
          <li class="project-item">
            <img
              src="./img/webp/my-project-10-mob_1x.webp"
              srcset="/img/webp/my-project-10-mob_1x.webp 1x,
              /img/webp/my-project-10-mob_2x.webp 2x"
              alt="Power Pulse Webservice"
              class="project-img"
            />
            <p class="project-tech">React, JavaScript, Node JS, Git</p>
            <div class="tab-link-container">
              <h3 class="project-subtitle">POWER PULSE WEBSERVICE</h3>
              <a href="#" class="project-btn">Visit 
                <span class="arrow">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-up">
                    </use>
                </svg>
            </span></a>
            </div>
          </li> -->
    </ul>

    <a href="#" class="load-more">Load More</a>
  </div>
</section>
