<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <p class="reviews-list-paragraph">
          Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were
          completed on time and the result exceeded my expectations
        </p>
        <h3 class="reviews-list-name">Natalia Shevchenko</h3>
      </li>
      <li class="reviews-list-item">
        <p class="reviews-list-paragraph">
          I have the honor to recommend him as an exceptional professional in his field. His knowledge and expertise are
          undeniable. Cooperation with him always brings impressive results.
        </p>
      </li>
        <h3 class="reviews-list-name">Dmytro Nazarenko</h3>
    </ul>
  </div>
</section>