<section class="section" id="review"></section>
<div class="container">
  <h2 class="title reviews-title">REVIEWS</h2>
  <div class="reviews-container swiper">
    <ul class="reviews-list swiper-wrapper">
    </ul>
    <div class="swiper-buttons">
      <button type="button" class="review-button-prev" name="swipe-btn-prev">
        <svg width="24" height="24" class="review-icon">
          <use href="/img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="review-button-next" name="swipe-btn-next">
        <svg width="24" height="24" class="review-icon">
          <use href="/img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
</section>