<section class="tech-skills-section section" id="tech-skills">
    <div class="tech-skills-container">
        <h2 class="visually-hidden">Tech Skills</h2>
        <div class="tech-skills-content">
            <ul class="tech-marquee tech-marquee-top">
                <li class="tech-marquee-item">
                    <span class="tech-skill-text">HTML/CSS</span>
                    <svg class="tech-icon-top dark-theme" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    </svg>
                    <span class="tech-skill-text">JavaScript</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">React</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">Node.js</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">React Native</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <!-- Дублюємо текст для безперервності -->
                    <span class="tech-skill-text">HTML/CSS</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">JavaScript</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">React</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">Node.js</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">React Native</span>
                    <svg class="tech-icon-top dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                </li>
            </ul>

            <ul class="tech-marquee tech-marquee-bottom">
                <li class="tech-marquee-item">
                    <span class="tech-skill-text">JavaScript</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">React</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">Node.js</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">React Native</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">TypeScript</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <!-- Дублюємо текст для безперервності -->
                    <span class="tech-skill-text">JavaScript</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">React</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">Node.js</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">React Native</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                    <span class="tech-skill-text">TypeScript</span>
                    <svg class="tech-icon-bottom dark-theme-v" width="24" height="24" viewBox="0 0 24 24" fill="none"></svg>
                        <use href="../img/icons.svg#icon-dot"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>