.about-me-title {
  margin-bottom: 40px;
  font-size: 52px;
}

.photo-card {
  width: 320px;
  border-radius: 16px;
}

.photo {
  width: 320px;
  height: 374px;
  border-radius: 16px;
}

.sub-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.bio-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 24px;
}

.about-me-info-cont {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-me-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-marker {
  flex-shrink: 0;
  position: absolute;
  left: 4px;
  top: 12px;
  fill: #00b068;
  transform: translateY(-50%);
}

.about-me-list-item {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  position: relative;
  padding-left: 26px;
}

.list-marker-small {
  top: 50%;
}



@media screen and (min-width: 768px) {

  .about-me-title {
    font-size: 108px;
  }

  .about-me-info-cont{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .photo-card {
    width: 336px;
    margin-top: 368px;
    height: 392px;
  }

  .photo {
    width: 336px;
  }

.bio-text {
  width: 336px;
line-height: 1.5;
letter-spacing: 0.03em;
}

.about-me-box {
  
  margin-bottom: 108px;
}

.last-box {
  margin-bottom: 0;
}

 .left {
  width: 336px;
 }

 .right {
  width: 336px;
 }

.sub-title {
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.01em;
}

.about-me-list {
  gap: 16px;
}

#about-me {
  background-size: 336px 252px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/bg-about-tab.png');
background-position-x: 390px;
background-position-y: 910px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  #about-me {
    background-image: url(/img/bg-about-tab-2x.png);
  }
}

}
@media screen and (min-width: 1280px) {

  .photo-card {
    width: 384px;
    margin-top: 272px;
    height: 448px;
  }

  .photo {
    width: 384px;
    margin: 0;
  }

  .about-me-info-cont{
    gap: 0;
    column-gap: 136px;
    row-gap: 80px;
    justify-content: end;
  }

  .bio-text {
    width: 488px;
  }

  .about-me-box {
    
    margin-bottom: 232px;
  }

  .last-box {
    width: 384px;
    margin-bottom: 0;
  }

  .right {
    width: 488px;
  }

  #about-me {
    background-size: 384px 288px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/img/bg-about-desk.png');
  background-position-x: 810px;
  background-position-y: 770px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  #about-me {
    background-image: url(/img/bg-about-desc-2x.png);
  }
}
  
}