/* ----- Header ----- */
.header-section {
  width: 100%;
  height: 64px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.header-logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: 10px;
}

.icon-container {
  position: relative;
  margin: auto;
}

.switch-container {
  display: flex;
  position: relative;
}

#switch {
  display: none;
}

.label {
  height: 20px;
  width: 44px;
  background-color: #e4e5e6;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  overflow: hidden;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  left: 20px;
}

.label:hover {
  cursor: pointer;
}

.label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: var(--accet-green);
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: clip-path 0.8s ease;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  /* transition: clip-path 0.9s ease-in-out; */
}

.dark-theme .label::before {
  clip-path: polygon(
    50% 0%,
    100% 10%,
    100% 35%,
    100% 70%,
    100% 90%,
    50% 100%,
    63% 81%,
    69% 65%,
    70% 46%,
    66% 26%
  );
}

.fa-sun,
.fa-moon {
  font-size: 1.3rem;
  position: absolute;
}

.fa-sun {
  top: 12%;
  left: -31%;
}

.fa-moon {
  top: 9%;
  right: 9%;
}

#switch:checked + .label {
  background-color: var(--black);
}

#switch:checked + .label::before {
  content: '';
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  width: 16px;
  height: 16px;
  top: 2px;
  bottom: 2px;
  left: 0px;
  right: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

#switch:checked + .label .fa-sun {
  left: 11%;
}

#switch:checked + .label .fa-moon {
  right: -24%;
}

#switch:active + .label::before {
  width: 35px;
}

.header-list {
  display: none;
}

.header-item {
  display: inline-block;
}

.header-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
}

.header-btn:hover,
.header-btn:focus {
  fill: var(--accet-green);
}

/* -------------------------------- */
@media screen and (min-width: 768px) {
  .header-section {
    height: 96px;
  }

  .header-container {
    flex-direction: row;
    justify-content: space-between;
    height: 96px;
  }

  .header-logo {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .label {
    left: 60px;
    height: 24px;
    width: 48px;
  }

  .label::before {
    width: 20px;
    height: 20px;
  }

  #switch:checked + .label::before {
    width: 20px;
    height: 20px;
  }

  .header-wrap {
    display: flex;
    gap: 40px;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-link {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    transition: color 0.25s ease-in-out;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--accet-green);
  }

  .header-btn {
    display: none;
  }
}

/* ------------------------------ */
@media screen and (min-width: 1280px) {
  .header-container {
    flex-direction: row;
  }

  .label {
    left: 260px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header-mobile-menu-container {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Активне меню з'являється на екрані */
.header-mobile-menu-container.active {
  transform: translateX(-100%);
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  min-width: 100%;
  background: var(--white);
}

.header-btn-icon {
  transition: fill 0.25s ease-in-out;
}

.header-btn-icon:hover,
.header-btn-icon:focus {
  fill: var(--accet-green);
}

.header-mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  border: none;
  background: none;
}

.menu-close-icon {
  width: 32px;
  height: 32px;
  stroke: var(--black);
  fill: var(--white);
  stroke-width: 0;
  transition: stroke 0.25s ease-in-out;
}

.menu-close-icon:hover {
  stroke: var(--accet-green);
}

.header-nav-menu-wrap {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  /* margin-bottom: 20px; */
  background-image: url(/img/bg-hero-mob_1x.png);
  background-repeat: no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-rezolution: 2dppx),
  (min-rezolution: 192dpi) {
  .header-nav-menu-wrap {
    background-image: url(/img/bg-hero-mob_2x.png);
  }
}

.header-mobile-navigation {
  /* padding-top: 200px; */
  animation: burgerAnimation 0.4s;
}

/* -----  */
.header-mobile-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 24px; */
}

.header-mobile-item {
  /* padding-left: initial; */
  padding: 12px;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

.header-mobile-item:hover,
.header-mobile-item:focus {
  color: var(--accet-green);
}

.header-mobile-link {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: transform 0.25s ease-in-out;
}

/* ----- Dark theme ----- */

.dark-theme .header-btn {
  background-color: inherit;
  /* Зелений фон для кнопки бургер-меню */
}

.dark-theme .header-btn-icon {
  fill: var(--white);
  /* Білий колір іконки бургер-меню в темній темі */
}

.dark-theme .header-mobile-menu {
  background: var(--black);
}

.dark-theme .header-btn-icon {
  border: none;
}

.dark-theme .header-btn-icon:hover,
.dark-theme .header-btn-icon:focus {
  fill: var(--accet-green-dt);
}

.dark-theme .header-btn-icon {
  border: none;
}

.dark-theme .header-mobile-menu-close {
  background-color: var(--black);
  border: none;
}

.dark-theme .menu-close-icon {
  stroke: var(--white-dt);
  fill: var(--black);
}

.dark-theme .menu-close-icon:hover,
.dark-theme .menu-close-icon:focus {
  stroke: var(--accet-green-dt);
  border: none;
}

.header-btn:hover,
.header-btn:focus {
  fill: var(--white);
}
