@import url('./reset.css');

.project-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;
    text-transform: uppercase;
    text-align: center;
  }

  .project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
  .project-item {
    display: flex;
    flex-direction: column;
  
  }
  
  .project-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .project-tech {
    text-align: left;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .project-subtitle {
    text-align: left;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .project-btn {
    margin-left: 195px;
    border-radius: 8px;
padding: 12px 24px;
width: 125px;
height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .arrow {
    margin-left: 8px;
  }
  
  .load-more {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    margin-left: 83px;
  }
  
  .load-more::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--accet-green);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out; 
  }
  
  .load-more:hover::after {
    transform: scaleX(1); 
  }

  .load-more:hover {
    color: var(--accet-green);

  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  
    .project-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  
    .project-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .title {
      font-size: 108px;
    }
  }


