/* Шрифти */
/*Poppins Light*/
@font-face {
  font-family: 'Poppins';
  src: url(/fonts/poppins-light.ttf) format('truetype');
  font-weight: 300;

  font-style: normal;
}

/*Poppins Regular*/
@font-face {
  font-family: 'Poppins';
  src: url(/fonts/poppins-regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*Poppins Medium*/
@font-face {
  font-family: 'Poppins';
  src: url(/fonts/poppins-medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

/*Poppins SemiBold*/
@font-face {
  font-family: 'Poppins';
  src: url(/fonts/poppins-semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Impact Regular*/
@font-face {
  font-family: 'Impact';
  src: url(/fonts/impact.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Загальні стилі */
* {
  margin: 0;
  padding: 0;
}

:root {
  /*шрифти*/
  --font-family: "Poppins", sans-serif;
  --second-family: "Impact", sans-serif;
  --third-family: "Montserrat", sans-serif;

  /* Кольори */
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --hover-grey: #bbb;
  --light-accent: #bcdfd1;
  --hover: #009156;
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --hover-charcoal-dt: #3b3f45;
  --dark-accet-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;
}

/* Основні стилі */
body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* Темна тема */
.dark-theme {
  background-color: var(--black-dt);
  color: var(--white-dt);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  text-transform: uppercase;
}

.highlight {
  color: var(--accet-green);
}

.dark-theme .highlight {
  color: var(--accet-green-dt);
}

/* Стилі для приховання елементів */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .container {
    width: 768px;
    padding: 0 32px;
  }

  .title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .container {
    width: 1280px;
  }
}