/* ----- Reviews styles */
.reviews-title {
  text-align: center;
  margin-bottom: 40px;
}

.reviews-list {
  margin-bottom: 24px;
}

.reviews-list-item.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  background: #2A2D32;
  border-radius: 16px;
  padding: 32px;
  height: 296px;
}

.error-mock {
  background-color: var(--light-grey);
  border-radius: 16px;
  padding: 32px;
  height: 296px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

.reviewers-avatar {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}

.reviewers-name {
  font-weight: 600;
  font-size: 16px;
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviews-text {
  overflow-y: auto;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
}

.reviews-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: inherit;
  border-radius: 16px;
}

.reviews-text::-webkit-scrollbar {
  width: 6px;
}

.reviews-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--white);
  background-image: -webkit-gradient(linear,
      70% 0%,
      75% 84%,
      from(#e4e5e6),
      to(#bcdfd1),
      color-stop(.6, #bcdfd1))
}

.swiper-buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
}

.swiper-buttons button.review-button-prev,
.swiper-buttons button.review-button-next {
  cursor: pointer;
  background-color: transparent;
  transition: box-shadow 200ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  fill: var(--black);
}

.swiper-buttons button.review-button-prev .review-icon,
.swiper-buttons button.review-button-next .review-icon {
  stroke: #292929;
}

button.review-button-prev:not(:disabled):hover,
button.review-button-next:not(:disabled):hover,
button.review-button-prev:not(:disabled):hover,
button.review-button-next:not(:disabled):hover {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

button.review-button-prev.swiper-button-disabled,
button.review-button-next.swiper-button-disabled {
  border: 1px solid var(--light-grey);
  border-radius: 8px;
}

button.review-button-prev.swiper-button-disabled .review-icon,
button.review-button-next.swiper-button-disabled .review-icon {
  stroke: var(--light-grey);
}

button.swiper-button-disabled {
  cursor: default;
}

.swiper-button-disabled .review-icon {
  fill: transparent;
  stroke: #3B3B3B;
}

.review-icon {
  fill: transparent;
  stroke: #FFFFFF;
}

.reviews-list-item.swiper-slide {
  background: var(--light-grey);
}

/* --------------------- */

@media screen and (min-width: 768px) {
  #review {
    padding-bottom: 0;
  }

  .reviews-title {
    margin-bottom: 60px;
  }

  .reviews-list-item.swiper-slide {
    height: 224px;
  }

  .error-mock {
    height: 224px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-title {
    margin-bottom: 80px;
  }

  .reviews-list-item.swiper-slide {
    max-height: 224px;
  }

  .reviews-text {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

/* ----- Dark Theme ----- */

.dark-theme .reviews-list-item.swiper-slide {
  background: var(--charcoal-dt);
}

.dark-theme .swiper-buttons button.review-button-prev,
.dark-theme .swiper-buttons button.review-button-next {
  border-color: var(--white);
}

.dark-theme .swiper-buttons button.review-button-prev .review-icon,
.dark-theme .swiper-buttons button.review-button-next .review-icon {
  stroke: var(--white);
}

.dark-theme button.review-button-prev.swiper-button-disabled,
.dark-theme button.review-button-next.swiper-button-disabled {
  border-color: var(--charcoal-dt);
}

.dark-theme button.review-button-prev.swiper-button-disabled .review-icon,
.dark-theme button.review-button-next.swiper-button-disabled .review-icon {
  stroke: #2A2D32;
}

.dark-theme .error-mock {
  background-color: var(--charcoal-dt);
}

.dark-theme .reviews-text::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear,
      70% 0%,
      75% 84%,
      from(#2a2d32),
      to(#204136),
      color-stop(.6, #204136))
}