/* ----- Стилі для Тех скілів ----- */
.tech-skills-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  width: 360px;
  height: 244px;
}

.tech-skills-content {
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.tech-marquee {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  padding: 32px 0;
  width: 100%;
  height: 104px;
  overflow: hidden;
}

.tech-marquee-top {
  background: var(--light-accent);
  z-index: 2;
}

.tech-marquee-bottom {
  background: var(--light-grey);
  transform: rotate(2deg);
  position: absolute;
  width: 100%;
  /* Якщо потрібно, можна додати нижній відступ або позиціонування */
}

.tech-marquee-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.tech-marquee-top .tech-marquee-item {
  animation: tech-scrollLeft 20s linear infinite;
}

.tech-marquee-bottom .tech-marquee-item {
  animation: tech-scrollRight 20s linear infinite;
}

.tech-skill-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0 8px;
  white-space: nowrap;
}

.tech-marquee-bottom .tech-skill-text {
  color: var(--accet-green);
}

/* Основний стиль іконки */
.tech-icon-top {
  width: 24px;
  height: 24px;
  fill: var(--accet-green);
  transform: rotate(-180deg);
  transition: fill 0.3s ease;
  /* Плавний перехід кольору */
}

.tech-icon-bottom {
  width: 24px;
  height: 24px;
  fill: var(--black);
  transform: rotate(-180deg);
  transition: background-color 0.3s ease, fill 0.3s ease;
  /* Плавний перехід кольорів */
}

@keyframes tech-scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes tech-scrollRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Адаптивні стилі для планшетів і більших екранів */
@media screen and (min-width: 768px) {
  .tech-skills-container {
    width: 768px;
    height: 280px;
  }

  .tech-skills-content {
    height: 280px;
  }

  .tech-marquee {
    padding: 40px 0;
    height: 128px;
  }

  .tech-skill-text {
    font-size: 40px;
  }

  .tech-icon {
    width: 10px;
    height: 10px;
  }
}

/* Адаптивні стилі для великих екранів */
@media screen and (min-width: 1280px) {
  .tech-skills-container {
    width: 1280px;
    height: 280px;
  }

  .tech-skills-content {
    height: 280px;
  }

  .tech-skill-text {
    font-size: 44px;
  }

  .tech-icon {
    width: 12px;
    height: 12px;
  }
}

/* Стилі для запуску анімації */
.animation-running {
  animation-play-state: running;
}

/* Стилі для зупинки анімації */
.animation-paused {
  animation-play-state: paused;
}

/* ----- Dark-theme ----- */
.dark-theme .tech-marquee-top {
  background: var(--dark-accet-dt);
}

.dark-theme .tech-marquee-bottom {
  background: var(--charcoal-dt);
}

.dark-theme .tech-marquee-bottom .tech-skill-text {
  color: var(--white-dt);
}

.dark-theme .tech-icon-top {
  fill: var(--accet-green-dt);
}

.dark-theme .tech-icon-bottom {
  fill: var(--white-dt);
}