.toogle-switch {
  display: flex;
  padding: 24px 0 0 24px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  padding: 12px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grey);
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accet-green);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--black);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
