@import url('./reset.css');

/* =====   Section Work Together   ===== */

#work-together {
  text-align: center;
  background-color: var(--bg-color-light);
  background-image: url('./img/Decor-bg.jpg');
  background-size: cover; /* Зображення масштабуватиметься, щоб покрити всю секцію */
  background-position: center; /* Зображення центруватиметься */
  background-repeat: no-repeat; /* Зображення не повторюватиметься */
  /* margin: 0 auto; */
}

#work-together h2 {
  color: var(--black);
  font-family: var(--second-family);
  font-size: 52px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.23;
  margin-bottom: 40px;
  text-align: left;
  text-transform: uppercase;
}

#work-together .highlight {
  color: var(--accet-green);
}

#work-together p {
  font-size: 18px;
  color: var(--black);
  margin-bottom: 20px;
  line-height: 1.5;
  margin-bottom: 32px;
}

/* Контактна інформація */
.contact-info {
  margin-bottom: 20px;
  font-style: normal; /* Відміняємо курсив для тега <address> */
}

.contact-info ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.contact-info li {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 16px;
  stroke: var(--accet-green);
  fill: none;
}

.contact-info a {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
}

.contact-info a:hover {
  color: var(--accet-green);
  text-decoration: none;
}

/* Стилізація форми */
#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  max-width: 400px;
  padding: 12px 15px;
  border: 1px solid var(--hover-grey);
  border-radius: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  background-color: var(--light-grey);
}

#contactForm input:invalid {
  color: var(--error);
}

#contactForm input::placeholder,
#contactForm textarea::placeholder {
  color: var(--black);
}

#contactForm textarea {
  height: 120px;
  resize: none;
}

#contactForm button {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  background-color: var(--accet-green);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contactForm button:hover {
  background-color: var(--hover);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.error-message {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--error);
  display: none;
  margin-top: 4px;
  text-align: left;
}

.success-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  stroke: var(--white);
  fill: var(--accet-green);
  display: none;
}

input:valid + .success-icon {
  display: block;
}

input:invalid + .success-icon {
  display: none;
}

input:invalid + .success-icon + .error-message {
  display: block;
}

input:valid + .success-icon + .error-message {
  display: none;
}

.uppercase {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  max-width: 320px;
  text-align: left;
  margin-bottom: 32px;
}

/* Попап */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: var(--white);
  padding: 48px 32px;
  border-radius: 16px;
  text-align: center;
  max-width: 320px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.popup-content h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accet-green);
  margin-bottom: 16px;
}

.popup-content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black);
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  font-size: 32px;
  color: var(--black);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--light-grey);
}

/* =====   Dark theme   ==== */

/* body.dark-theme {
  background-color: #1a1a1a;
  color: #ffffff;
} */

body.dark-theme #work-together {
  text-align: center;
  background-color: var(--black);
  background-image: url('./img/Decor-bg-dark.jpg');
  background-size: cover; /* Зображення масштабуватиметься, щоб покрити всю секцію */
  background-position: center; /* Зображення центруватиметься */
  background-repeat: no-repeat; /* Зображення не повторюватиметься */
  /* margin: 0 auto; */
}

body.dark-theme .input-wrapper input,
body.dark-theme textarea {
  background: var(--charcoal-dt);
  color: var(--white);
  border: none;
}

body.dark-theme .success-icon {
  stroke: var(--accet-green-dt);
}

body.dark-theme .error-message {
  color: var(--error);
}

body.dark-theme button {
  background-color: var(--accet-green-dt);
  color: var(--white);
}

body.dark-theme .popup-content p {
  color: var(--white);
}

body.dark-theme .popup-content h3 {
  color: var(--accet-green-dt);
}

body.dark-theme .close-btn {
  color: var(--white);
}
